@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Roboto");

*{
    transition: ease all .5s;
    font-family: 'Roboto', sans-serif;
}

.content{
    max-width: 800px;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 300px;
    justify-content: center;
    position: relative;
    min-height: 1000px;
    z-index: 100;
    margin-top: -112px;
    background-color: #fff;
    padding: 90px;

}

.header-img{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-img img{
    height: 500px;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    z-index: -100;
}

h1{
    font-size: 48px;
    text-align: center;
}

h1, h2, h3, h4, p, li{
    font-weight: 400;    
}

h2{
    font-size: 24px
}

li{
    font-size: 20px;
    list-style: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

.booth-options{
    margin-top: -20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row{
    width: 100%
}

li > label > input + br + label{
   margin-left: 12px;
}

/*li tag styling*/
.booth-options li{
    display: flex;
    margin: 0 auto;
}

.date-options li{
    display: flex;
    align-items: center;
    margin-right: 36px;
}

ul > li > label{
    margin-right: 32px;
}


/*submit button styles*/
.btn{
    background:#2196F3;
    color: #fff;
    width: 132px;
    height: 46px;
    border-color: #2196F3;
}

#viewCartBtn{
    left: 80px;
    bottom: 80px;
    background: #2196F3;
    color: #fff;
    width: 132px;
    height: 46px;
    border-color: #2196F3;
    position: fixed;
}
#viewCartBtn:hover {
   background:#fff;
    color: #2196F3;
    transition:all 150ms ease-out;
}

.btn:hover {
    background:#fff;
    color: #2196F3;
    transition:all 150ms ease-out;
}
/*checkbox styling*/
/*
input[type='checkbox']:checked {
    border-color:#2196F3 !important;
  }

  input[type='checkbox']::after {
    background:#2196F3 !important;
  }

  input[type='checkbox'] {
    content:"\E5CA" !important;
    font-family:"material icons";
    appearance:none !important;
    -moz-appearance:none !important;
    -webkit-appearance:none !important;
    border:2px solid #9e9e9e !important;
    width:18px !important;
    height:18px !important;
    border-radius:2px !important;
    cursor:pointer !important;
    transition:all 150ms ease-out !important;
    margin-right: 8px !important;
  }

  input[type='checkbox']:checked {
     border-width:9px;
     content:"\E5CA" !important;
    font-family:"material icons" !important;
  }

  input[type='checkbox']::before {
    content:"\E5CA" !important;
    font-family:"material icons" !important;
    font-size:18px !important;
    margin-top:0px !important;
    margin-left:-2px !important;
    transform:scale(0) !important;
    transition:all 150ms ease-out !important;
    color:#fff !important;

  }

  input[type='checkbox']:checked::before {
    transform:scale(1) !important;
    margin-top:-9px !important;
    margin-left:-9px !important;
  }  */

  /*radio styling*/
  
  input[type='radio']:checked {
    border-color:#2196F3;
  }

  input[type='radio']::after {
    background:#2196F3;
  }

  input[type='radio'] {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border:2px solid #9e9e9e;
    width:18px;
    height:18px;
    border-radius:8px;
    cursor:pointer;
    transition:all 150ms ease-out;
  }
  
  input[type='radio']:checked {
     border-width:9px;
  }
  
  input[type='radio']::before {
    /*content:"\E8FA";*/
    position:absolute;
    font-family:"material icons";
    font-size:18px;
    margin-top:0px;
    margin-left:-2px;
    transform:scale(0);
    transition:all 150ms ease-out;
    /*color:#fff;*/
    color:#2196F3;
  }
  
  input[type='radio']:checked::before {
    transform:scale(1);
    margin-top:-9px;
    margin-left:-9px;
  }

.hide-me{
    display: none;
    opacity: 0
}

#billingInfoContainer{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.billingInfoLabels{
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 24px;
    color: black;
    width: 300px;
}



.billingInfoLabels:last-child{
    padding-bottom: 48px
}


.billingInfoLabels input{
    background-color: #EAEAEA;
    border: none;
    height: 36px;
    width: 300px;
}

.helperText{
    position: relative;
    top: 0px
}


.billingInfoLabels input:focus{
    border-bottom: 2px solid;
    border-radius: 8px;
    background-color: #efefef;
}

input:focus + .helperText{
    text-decoration: underline;
    font-weight: bold;
    transition: ease all .2s;
}


/*input:empty + span{*/
    /*top: -28px;*/
    /*padding-left: 12px;*/
/*}*/

input:focus + span{
    top: -72px
}

.helperTextRemain{
    position: relative;
    top:  -64px !important;
}

.select-cities-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.select-cities-row > label{
    display: flex;
    align-items: center;
}
.select-cities-row > label > input{
    margin-right: 6px;
}


.booth-options-select{
    display: flex;
    padding: 0;
}

.shopping-cart-container{
    display: none;
}


.venue-options{
    margin-top: -20px;
    display: flex;
}


#billingInfoTrigger{
    left: 80px;
}


.billingInfoLabels{
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 24px;
}

label select{
    margin-right: 12px
}

label input{
    margin-right: 12px
}

#priceBreakdown{
    display: none;
    width: 300px;
    height: 100%;
    padding: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background:gainsboro;
    z-index: 1000;
}

.staffPermissionsSection{
    position: absolute;
    top: 0;
    display: flex;
}

#cartContainer{
    overflow: hidden;
    height: 50%;
    overflow-y: scroll;
}

select{
    display: block;
}


label{
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 12px;
    width: 350px;
}

h3{
    font-size: 16px;
}

#accountOwner{
    width: 240px;
    margin-right: 52px;
}

#discountCheckbox[type="checkbox"]+span:not(.lever){
    position: relative;
    top: -30px;
    pointer-events: all;
    right: -355px;
}

#discountCheckbox{

    top: -32px;
    right: -370px;
    pointer-events: all;
    z-index: 1000000000;
    display: initial;
}

.dates-select{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
    opacity: 0;
    position: relative;
    display: none;
}




label[for='id_select_cities_0'], label[for='id_select_cities_1'], label[for='id_select_cities_2'], label[for='id_select_cities_3']{
    border:1px solid #ccc;
 padding:10px;
 margin:0 0 10px;
 display:block;
 text-align: center

}

label[for='id_select_cities_0']:hover, label[for='id_select_cities_1']:hover, label[for='id_select_cities_2']:hover, label[for='id_select_cities_3']:hover{
 background:#eee;
 cursor:pointer;
}

div > ul > li > label {
border:1px solid #ccc;
 padding:10px;
 margin:0 0 10px;
 display:block;
 text-align: center
}

div > ul > li > label:hover {
 background:#eee;
 cursor:pointer;
}

#allFairsContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.toronto-container, .winnipeg-container, .calgary-container, .edmonton-container{
    border-bottom: black solid 1px;
    margin-bottom: 46px;
}

h5{
   font-size: 16px;
}

#venueOptions{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 1199px) {

    .dates-select{
        display: flex;
        flex-wrap: wrap;
        width: 800px;
    }
}

@media (max-width: 799px) {
    .dates-select{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    }
    .staffPermissionsSection{
        flex-direction: column
    }

    div > h1{
        margin-top: 170px;
    }
}

