<!doctype html>
<html class="no-js" lang="">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Hello World</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<div class="content">
  <form action="/payment/" method="POST">
    {% csrf_token %}
    <h2>Fair Locations</h2>
    {% for field in form.select_cities %}
            {{field}}
    {% endfor %}
    <div id="fair_dates_and_options_container">

      <div id="TorontoFairOptionsContainer" style="display: none;">
        <h3>Toronto Fair Dates</h3>
        <div class="date-options">{{form.toronto_dates}}</div>
        <h3>Toronto Booth Options</h3>

        <div class="booth-options"><label>{{form.toronto_booth_options}} All Booths - $1995</label></div>
        <h3>Toronto Fair Options</h3>
        <div class="fair-options">{{form.toronto_options}}</div>
      </div>
      <div id="CalgaryFairOptionsContainer" style="display: none;">
        <h3>Calgary Fair Dates</h3>
        <div class="date-options">{{form.calgary_dates}}</div>
        <h3>Calgary Booth Options</h3>
        <div class="booth-options">{{form.calgary_booth_options}}</div>
        <h3>Calgary Fair Options</h3>
        <div class="fair-options">{{form.calgary_options}}</div>
      </div>
      <div id="EdmontonFairOptionsContainer" style="display: none;">
        <h3>Edmonton Fair Dates</h3>
        <div class="date-options">{{form.edmonton_dates}}</div>
        <h3>Edmonton Booth Options</h3>
        <div class="booth-options">{{form.edmonton_booth_options}}</div>
        <h3>Edmonton Fair Options</h3>
        <div class="fair-options">{{form.edmonton_options}}</div>
      </div>
      <div id="WinnipegFairOptionsContainer" style="display: none;">
        <h3>Winnipeg Fair Dates</h3>
        <div class="date-options">{{form.winnipeg_dates}}</div>
        <h3>Winnipeg Booth Options</h3>
        <div class="booth-options">{{form.winnipeg_booth_options}}</div>
        <h3>Winnipeg Fair Options</h3>
        <div class="fair-options">{{form.winnipeg_options}}</div>
      </div>
    </div>
    <input type="submit" value="Submit!">
  </form>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src='{% static "js/main.js" %}'></script>

</html>
